<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vortex-DDS PoC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libvdds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>publisher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rpc-publisher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rpc-subscriber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>subscriber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vdds-stubs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>vdss-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0345192D1CBFD5B100B9D2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0345193B1CBFD66200B9D2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>034519521CC0BF9300B9D2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0378C7B81CBF8C2F005C2BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0378C9831CBF8CD9005C2BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E422D01CC0D5610065CDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E422D91CC0D5920065CDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03E4230A1CC4EB340065CDB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
